.header{
    display: flex;
    padding: 6px 30px;
    justify-content: space-between;
    align-items: center;
    background-color: #141414;
    border-bottom: 3px solid #2c2c2c;
}

.logo{
    font-size: 23px;
    color: white;
    font-family: 'Poiret One', cursive;
    cursor: pointer;
    display: flex;
    align-items: center;
    width: 30%;
    justify-content: space-between;

    &:hover{
        color: rgb(133, 133, 133);
    }
}

.right-nav{
    display: flex;
    align-items: center;

    div{
        margin-left: 20px;
        font-size: 23px; 
        color: white;
        font-family: 'Poiret One', cursive;
        cursor: pointer;

        &:hover{
            color: rgb(133, 133, 133);
        }
    }
}

a{
    text-decoration: none;
    color: white;
}

.language-selector{
    font-size: 21px;
    background-color: transparent;
    color: white;
    border: none;
    border-bottom: 1px solid white;
    padding-bottom: 2px;
    outline: none;


    option{
        background-color: rgb(34, 34, 34);
    }
}

//Text sizer

.text-sizer{
    color: white;
    display: flex;

    span{
        padding: 0 5px;

        img{
            padding: 2px;
        }

        &:hover{
            opacity: 0.7;
        }
    }

}

//Text sizer ends